
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.movies{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 180px auto 80px auto;
  flex-wrap: wrap;
}
.add{
  margin-bottom: 60px;
}